node_modules/
npm-debug.log
yarn-error.log

.vscode/
.idea/
*.iml

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

config.json

logs/
*.log

.DS_Store

*.db
*.sqlite
*.sqlite3
database.*
seed.sql

certificates
dist/
intrinsic_files/

assets/*
!assets/icon.png
!assets/extend-info.plist