:root {
	--accent: rgba(255, 255, 255, 0.3);
}

[hidden] {
	display: none !important;
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	background: transparent;
}

html::before {
	content: '';
	position: fixed;
	inset: 0;
	z-index: -30;
	background-color: rgb(230, 230, 230);
	background-image: linear-gradient(to right, #31313110 1px, transparent 1px),
		linear-gradient(to bottom, #31313110 1px, transparent 1px);
	background-size: 14px 24px;
}

body::before {
	content: '';
	position: fixed;
	inset: 0;
	z-index: -20;
	background: radial-gradient(
			ellipse 100% 80% at 25% 35%,
			var(--accent) 0%,
			rgba(244, 114, 182, 0) 85%
		),
		radial-gradient(
			ellipse 90% 70% at 75% 65%,
			rgba(100, 116, 139, 0.25) 0%,
			rgba(100, 116, 139, 0) 85%
		),
		rgba(250, 250, 255, 0.6);

	pointer-events: none;
}

.drag {
	-webkit-app-region: drag;
	position: fixed;
	inset: 0;
	z-index: -1;
}

svg {
	shape-rendering: geometricPrecision;
	text-rendering: geometricPrecision;
	image-rendering: optimizeQuality;
}
